{% extends '::backend.html.twig' %}

{% block content%}
    <div class="row">
      <h1>Nueva Instrucción</h1>
        </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-info" href="{{ path('question') }}"><i class="fa fa-arrow-circle-left"> Back</i></a>
                <a class="btn btn-success btn-save" href="#"><i class="fa fa-floppy-o"> Save</i></a>
            </div>
        </div>
    </div>
    <div class="row">
      {{ form_start(form, {'attr': {'id': 'form_question_new'}} )}}
            <div class="row">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.question) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.enabled) }}
                </div>
                <div class="col-md-4">
                    <img class="thumbnail" src="{{ vich_uploader_asset(entity, 'imageFile') | imagine_filter('my_thumb')}}" alt="" />
                    {{ form_row(form.imageFile) }}
                </div>
            </div>

    </div>

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function(){

                $('.btn-save').on('click', function() {
                    var myform = $('#form_question_new');
                    $(myform).submit();
                });

            });
        </script>
    {% endblock %}


{% endblock %}
